<!DOCTYPE html>
<html lang="eng">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="author" content="Alec Masterson">
        <meta name="description" content="DLEH Admin App">

        <title>DLEH Admin App</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/google-fonts.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/core/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/react-table/react-bootstrap-table.min.css') }}">
</head>

<body className="bg-gray-300">
        <div id="root"></div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/core/bootstrap.bundle.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/react/react.development.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/react/react-dom.development.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/react/babel.min.js') }}"></script>

        <script type="text/javascript"
                src="{{ url_for('static', filename='js/react-table/react-bootstrap-table.min.js') }}"></script>

        <script type="text/babel" src="{{ url_for('static', filename='components/navbar.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='components/helpers.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='components/structure.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='components/statusMonitor.js') }}"></script>
        <script type="text/babel" src="{{ url_for('static', filename='components/root.js') }}"></script>
</body>

</html>