<!DOCTYPE html>
<html lang="eng">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Alec Masterson">
        <meta name="description" content="DLEH Admin App">

        <title>DLEH Admin App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/react-bootstrap-table.min.css') }}">
</head>

<body style="background-color: #555555;">
        <div id="root"></div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/react.development.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/react-dom.development.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/babel.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/react-bootstrap.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/react-bootstrap-table.min.js') }}"></script>

        <script type="text/babel" src="{{ url_for('static', filename='components/root.js') }}"></script>
</body>

</html>